.banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.curiosity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.flashcard {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.flashcard:hover {
    background-color: #e0e0e0;
}

.show-answer .curiosity-answer,
.show-answer .curiosity-explanation {
    display: block;
}

.curiosity-answer,
.curiosity-explanation {
    display: none;
}

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

