.banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.curiosity-question {
    font-weight: bold;
}

.curiosity-answer,
.curiosity-explanation {
    display: none;
}

.curiosity-container {
    margin-bottom: 20px;
}

.curiosity-container.show-answer .curiosity-answer,
.curiosity-container.show-answer .curiosity-explanation {
    display: block;
}

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
