.banner {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.description {
    margin-top: 20px;
}

.curiosity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicione essa propriedade */
    margin-top: 50px;
    height: 100vh; /* Adicione essa propriedade */
}

.flashcard {
    background-color: #34495e;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #ffffff;
    text-align: center; /* Adicione essa propriedade */
}

.flashcard:hover {
    background-color: #2c3e50;
}

.show-answer .curiosity-answer,
.show-answer .curiosity-explanation {
    display: block;
    color: #2c3e50;
    font-weight: bold;
}

.curiosity-answer,
.curiosity-explanation {
    display: none;
}

.btn-primary {
    background-color: #2ecc71;
    border-color: #2ecc71;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #ffffff; /* Adicione essa propriedade */
}


.footer {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 768px) {
    .curiosity-container {
        margin-top: 20px;
    }
}
